{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
    <body>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'application.css' %}">

        <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">JH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="/home" class="nav-link active">home</a>
                    <a href="/work" class="nav-link">work</a>
                    <a href="/about" class="nav-link">about</a>
                    <a href="/contact" class="nav-link">contact</a>
                </div>
            </div>
            </div>
        </nav>

        <div class="about">
            <h3 class="display-2">Hello! My name is Jacob.</h1>
            <hr class="hr hr-blurry"/>
            <p>I am a third year Computer Science student at the University of Memphis</p>
            <p>I started programming very young, with an interest in modding video games. Since then, I have developed experience in multiple languages, including Java, Python, C++, etc. Now, I specialize in graphics programming, both real-time and offline. I have large rendering-based projects using both OpenGL and Vulkan, including a GPU-based particle system and a full PBR renderer.</p>
        </div>

    </body>
</html>